<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- HTML Meta Tags -->
  <title>Reusable Vue.js Components Talk</title>
  <meta name="description" content="A talk aiming to show examples of highly reusable Vue.js code.">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Reusable Vue.js Components Talk">
  <meta itemprop="description" content="A talk aiming to show examples of highly reusable Vue.js code.">
  <meta itemprop="image" content="https://reusable-vuejs-talk.coltborg.com/assets/image/reusable-vuejs-talk-colt-borg-share.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://reusable-vuejs-talk.coltborg.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Reusable Vue.js Components Talk">
  <meta property="og:description" content="A talk aiming to show examples of highly reusable Vue.js code.">
  <meta property="og:image" content="https://reusable-vuejs-talk.coltborg.com/assets/image/reusable-vuejs-talk-colt-borg-share.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Reusable Vue.js Components Talk">
  <meta name="twitter:description" content="A talk aiming to show examples of highly reusable Vue.js code.">
  <meta name="twitter:image" content="https://reusable-vuejs-talk.coltborg.com/assets/image/reusable-vuejs-talk-colt-borg-share.png">

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/dark-light.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/atom-one.css">

  <!-- Printing and PDF exports -->
  <script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
</head>

<body class="light">
  <div class="reveal">
    <div class="slides">

      <section>
        <h1>Reusable Vue.js</h1>
        <p><em>Slots, Scoped Slots, and Render Function</em></p>
      </section>

      <section>
        <h4>My assumption of topic difficulty:</h4>
        <p class="fragment">😎 <em>Slots</em></p>
        <p class="fragment">😅 <em>Scoped Slots</em></p>
        <p class="fragment">🤯 <em>Render Function</em></p>
      </section>

      <section>
        <h4><a href="./assets/docs/chicago-vuejs-survey-results.pdf" target="_blank" rel="noopener noreferrer">Survey Results</a> of topic understanding:</h4>
        <p class="fragment">🤯 <em>Slots</em></p>
        <p class="fragment">🤯 <em>Scoped Slots</em></p>
        <p class="fragment">😎 <em>Render Function</em></p>
      </section>

      <section>
        <h1>About Me</h1>
        <p>I build interfaces on the web.</p>
        <small><em>I'm on <a href="https://codepen.io/coltborg/" target="_blank" rel="noopener noreferrer">CodePen</a>, <a href="https://twitter.com/coltborg" target="_blank" rel="noopener noreferrer">Twitter</a> and <a href="https://www.instagram.com/coltborg/" target="_blank" rel="noopener noreferrer">Instagram</a> as @coltborg.</em></small>
      </section>

      <section>
        <h1>My Mindset:</h1>
        <p><em>"I want to write code today that allows me to write less code tomorrow."</em></p>
      </section>

      <section>
        <h1>Goal for this talk:</h1>
        <p><em>"Show examples of code I've written to help others build more reusable components."</em></p>
      </section>

      <section>
        <h1>Overview</h1>
        <p class="fragment">
          Slots allow for <em class="underline">fluid content</em>
        </p>
        <p class="fragment">
          Scoped Slots allow for <em class="underline">reusable functionality</em>
        </p>
        <p class="fragment">
          Render function gives you the power of <em class="underline">programmatic templating</em>
        </p>
        <p class="fragment">
          <small>(But can also be used for renderless components)</small>
        </p>
      </section>

      <section>
        <h1>Render Function</h1>
      </section>

      <section>
        <blockquote>
          <p>There are situations, where you really need the full programmatic power of JavaScript. That’s where you can use the render function, a closer-to-the-compiler alternative to templates.</p>
          <footer>
            — <cite><a href="https://vuejs.org/v2/guide/render-function.html" target="_blank" rel="noopener noreferrer">Vuejs.org</a></cite>
          </footer>
        </blockquote>
      </section>

      <section>
        <h3>Interesting facts about render</h3>
        <p class="fragment">🏎 <code>&lt;template&gt;</code> compiles to render functions <a href="https://vuejs.org/v2/guide/render-function.html#Template-Compilation" target="_blank" rel="noopener noreferrer">under the hood</a>.</p>
        <p class="fragment">⚛️ A way to write Vue <a href="https://vuejs.org/v2/guide/render-function.html#JSX" target="_blank" rel="noopener noreferrer">with JSX</a></p>
        <p class="fragment">⚙️ Useful for <a href="https://vuejs.org/v2/guide/render-function.html#Functional-Components" target="_blank" rel="noopener noreferrer">functional</a> (stateless) components.</p>
      </section>

      <section>
        <h4>Docs have useful example of <a href="https://vuejs.org/v2/guide/render-function.html#Basics" target="_blank" rel="noopener noreferrer">programmatic templating</a></h4>
        <pre>
          <code data-trim>
              <!-- AnchoredHeading.vue -->
              <template>
                <h1 v-if="level === 1">
                  <slot></slot>
                </h1>
                <h2 v-else-if="level === 2">
                  <slot></slot>
                </h2>
                <h3 v-else-if="level === 3">
                  <slot></slot>
                </h3>
                <h4 v-else-if="level === 4">
                  <slot></slot>
                </h4>
                <h5 v-else-if="level === 5">
                  <slot></slot>
                </h5>
                <h6 v-else-if="level === 6">
                  <slot></slot>
                </h6>
              </template>
          </code>
        </pre>
      </section>

      <section>
        <pre>
            <code data-trim>
              // AnchoredHeading.vue
              export default {
                render: function (createElement) {
                  return createElement(
                    'h' + this.level,   // tag name
                    this.$slots.default // array of children
                  )
                },
                props: {
                  level: {
                    type: Number,
                    required: true
                  }
                }
              };
            </code>
          </pre>
      </section>

      <section>
        <h1>On Outside Click</h1>
        <p><em>A renderless component</em></p>
      </section>

      <section>
        <p>What if you want to componentise <span class="underline">functionality</span> and define the markup uniquely?</p>
      </section>

      <section>
        <p>The render function needs to <a href="https://vuejs.org/v2/guide/render-function.html#The-Virtual-DOM" target="_blank" rel="noopener noreferrer">return a VNODE</a>.</p>
      </section>

      <section>
        <pre>
          <code data-trim>
            {
              name: 'SomeComponent',
              render() {
                return createElement('h1', this.blogTitle);
              },
            }
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            {
              name: 'SomeComponent',
              render() {
                return this.$slots.default[0];
              },
            }
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            {
              name: 'SomeComponent',
              render() {
                return this.$scopedSlots.default({
                  childData: this.childData,
                  childMethod: this.childMethod,
                });
              },
            }
          </code>
        </pre>
      </section>

      <section>
        <iframe src="https://codesandbox.io/embed/vvr7vo76z5?fontsize=16&module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

      <section>
        <h1>Slots</h1>
      </section>

      <section>
        <blockquote>
          <p>Vue implements a content distribution API that’s modeled after the current <a href="https://github.com/w3c/webcomponents/blob/gh-pages/proposals/Slots-Proposal.md" target="_blank" rel="noopener noreferrer">Web Components spec draft</a>, using the <slot> element to serve as distribution outlets for content.</p>
          <footer>
            — <cite><a href="https://vuejs.org/v2/guide/components-slots.html" target="_blank" rel="noopener noreferrer">Vuejs.org</a></cite>
          </footer>
        </blockquote>
      </section>

      <section>
        <blockquote>
          <p>Slots are useful when you want to inject content in a specific place of a component.</p>
          <footer>
            — <cite><a href="https://css-tricks.com/using-scoped-slots-in-vue-js-to-abstract-functionality/" target="_blank" rel="noopener noreferrer">Mateusz Rybczonek on CSS Tricks</a></cite>
          </footer>
        </blockquote>
      </section>

      <section>
        <h1>Button</h1>
        <p><em>Using Slots</em></p>
      </section>

      <section class="center">
        <img src="./assets/images/button.png" alt="Example of a button with enter text.">
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- MyButton.vue -->
            <template>
              <button class="...">
                <slot></slot>
              </button>
            </template>
          </code>
        </pre>
        <pre>
          <code data-trim>
            <!-- Calling the component in a parent -->
            <my-button>
              Slot Text
            </my-button>
          </code>
        </pre>
      </section>

      <section>
        <iframe src="https://codesandbox.io/embed/vxyj7pp05?module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

      <section>
        <h1>Alert</h1>
        <p><em>Using Default Content</em></p>
      </section>

      <section class="center">
        <img src="./assets/images/alert.png" alt="An orange alert warning with a generic title and text explaining something wrong is happening.">
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- MyAlert.vue -->
            <div
              class="..."
              role="alert">
              <slot></slot>
            </div>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code class="diff" data-trim>
            <!-- MyAlert.vue -->
            <div class="..." role="alert">
            - <slot></slot>
            + <slot>
            +   <p class="...">General Warning</p>
            +   <p>Something not ideal is happening.</p>
            + </slot>
            </div>
          </code>
        </pre>
      </section>

      <section>
        <iframe src="https://codesandbox.io/embed/34z836oxx5?module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

      <section>
        <h1>Label &amp; Input</h1>
        <p><em>Using Named Slots</em></p>
      </section>

      <section class="center">
        <img src="./assets/images/input-with-label-and-warning.png" alt="An input with a label for a name. An input with a label and a warning message that is empty.">
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- MyInput.vue -->
            <template>
              <div>
                <label class="...">
                  <div>Label</div>
                  <input :value="value" @input="emitInput" type="text" class="...">
                </label>
                <p class="...">A warning message.</p>
              </div>
            </template>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code class="diff" data-trim>
            <!-- MyInput.vue -->
            <template>
              <div>
                <label class="...">
          -       <div>Label</div>
          +       <slot></slot>
                  <input :value="value" @input="emitInput" type="text" class="...">
                </label>
          -     <p class="...">A warning message.</p>
          +     <slot></slot>
              </div>
            </template>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- MyInput.vue -->
            <template>
              <div>
                <label class="...">
                  <slot></slot> 🤔
                  <input :value="value" @input="emitInput" type="text" class="...">
                </label>
                <slot></slot> 🤔
              </div>
            </template>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- Parent Component -->
            <template>
              <my-input>
                Test Label
              </my-input>
            </template>
          </code>
        </pre>
      </section>

      <section class="center">
        <img src="./assets/images/double-slots.png" alt="Without using named slots and having two slot tags, content appears in both slot tags.">
        <img src="./assets/images/vue-double-slots-warning.png" alt="Vue warns us that have two slot tags may cause render issues.">
      </section>

      <section>
        <pre>
          <code class="diff" data-trim>
            <!-- MyInput.vue -->
            <template>
              <div>
                <label class="...">
          -       <slot>Label</slot>
          +       <slot name="label">Label</slot>
                  <input :value="value" @input="emitInput" type="text" class="...">
                </label>
          -     <slot></slot>
          +     <slot name="warning"></slot>
              </div>
            </template>
          </code>
        </pre>
      </section>

      <section>
          <iframe src="https://codesandbox.io/embed/5kpp7v203x?fontsize=16&module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

      <section>
        <h1>Transitions</h1>
      </section>

      <section class="center">
        <img src="./assets/images/my-transition-example.gif" alt="An exaggerated transition for a dropdown menu to appear and then slide up and fade away on close.">
      </section>

      <section>
        <h4><a href="https://vuejs.org/v2/guide/transitions.html#Overview" target="_blank" rel="noopener noreferrer">Vue Transition Docs</a></h4>
        <pre>
          <code data-trim>
            // MyTransition.vue
            <template>
              <transition name="slide-fade">
                <slot></slot>
              </transition>
            </template>
          </code>
        </pre>
        <pre>
          <code data-trim>
            <script>
            export default {
              name: 'SlideFade',
            };
            </script>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            /* MyTransition.vue */
            <style scoped>
            .slide-fade-leave-active {
              transition: transform 300ms ease-in-out, opacity 150ms ease-in-out;
            }

            .slide-fade-enter {
              opacity: 0;
            }

            .slide-fade-leave-to {
              transform: translateY(-1rem);
              opacity: 0;
            }
            </style>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            <My-Transition>
              <Any-Component v-if="isShown"></Any-Component>
            </My-Transition>
          </code>
        </pre>
      </section>

      <section>
        <iframe src="https://codesandbox.io/embed/j3m32795xy?fontsize=16&module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

      <section>
        <h1>Scoped Slots</h1>
      </section>

      <section>
        <blockquote>
          <p>Sometimes you’ll want to provide a component with a reusable slot that can access data from the child component. </p>
          <footer>
            — <cite><a href="https://vuejs.org/v2/guide/components-slots.html#Scoped-Slots" target="_blank" rel="noopener noreferrer">Vuejs.org</a></cite>
          </footer>
        </blockquote>
      </section>

      <section>
        <p>When you want a template inside of a slot to access data (or methods) from the child component.</p>
      </section>

      <section class="center">
        <img src="./assets/images/slot-scope-diagram.png" alt="A diagram showing how data and methods flow from a child component into a parent template through scoped slots.">
      </section>

      <section>
        <h1>Simple List Items</h1>
        <p><em>With Scoped Slot Data</em></p>
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- MyList.vue -->
            <template>
              <div>
                <slot
                  v-for="item in items"
                  :item="item">
                </slot>
              </div>
            </template>

            <script>
              export default {
                name: 'MyList',
                props: {
                  items: {
                    type: Array,
                    default: () => [],
                  },
                },
              };
              </script>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code data-trim>
            <!-- Parent -->
            <template>
              <My-List :items="listItems">
                <div
                  slot-scope="slotProps"
                  class="...">
                  {{ slotProps.item.text }}
                </div>
              </My-List>
            </template>

            <script>
              export default {
                name: 'ParentComponent',
                data() {
                  return {
                    listItems: [
                      { text: 'Ice cream', emoji: '🍦' },
                      { text: 'Magic', emoji: '🧙🏻‍♂️' },
                      { text: 'Space', emoji: '🚀' },
                    ]
                  };
                }
              };
            </script>
          </code>
        </pre>
      </section>

      <section>
        <pre>
          <code class="diff" data-trim>
            <!-- Parent -->
            <template>
              <My-List :items="listItems">
            -   <div slot-scope="slotProps" class="...">
            +   <div slot-scope="{ item }" class="...">
            -     {{ slotProps.item.text }}
            +     {{ item.text }}
                </div>
              </My-List>
            </template>
          </code>
        </pre>
      </section>

      <section>
        <iframe src="https://codesandbox.io/embed/10493l1wv3?fontsize=16&module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

      <section>
        <h1>Popper</h1>
        <p><em>encapsulating 3rd party JavaScript</em></p>
      </section>

      <section class="center">
        <img src="./assets/images/popper-js.png" alt="The homepage of popper.js, Popper.js is just ~6KB minified and gzipped, with zero dependencies.">
      </section>

      <!-- Add explanation steps here -->

      <section>
        <iframe src="https://codesandbox.io/embed/38lj9omp71?fontsize=16&module=%2Fsrc%2FPageLayout.vue" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
      </section>

    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
</body>

</html>